node_modules
npm-debug.log
.env
.git
.gitignore
README.md
.vscode
.idea
*.md
.github
docs
scripts
docker-compose.yml
dependency-check-report
sonar-scanner
.scannerwork
trivy-report.json
*.log
coverage
.DS_Store
